<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/logo.ico">

    <title>KTUS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/admindoashboard.css" rel="stylesheet"/>

    <meta name="google-site-verification" content="2hK8OAg4_EJ1e60F9ibqjmNTLJUhPRC4JVokOTb5cGk">
</head>

<body>

<div class = "container">
    <header class="blog-header py-1 bg-white">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-sm pt-1">
                <a class="text-muted" href="#">
                    <img src="/images/logo_medium.png">
                </a>
            </div>

            <div class="col-5 input-group">
                <input type="search" class="form-control" aria-label="">
                <div class="input-group-append">
                    <span class="input-group-text"><a class="text-muted" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></a></span>
                </div>
            </div>

            <div class="col-3  d-flex justify-content-end align-items-center ">
                <img src="/images/logo_medium.png">
                <a class="btn btn-link btn-sm" href="/account/signup"><span style="font-family:'Segoe UI'">Admin</span></a>
            </div>
        </div>
    </header>

    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class ="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Bài đăng
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                Rank 50
                            </a>
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                Mới nhất
                            </a>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Người dùng
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class ="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div>
                <div class="card flex-md-row mb-4 shadow-sm h-md-200" width="800" height="550">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <div class="text-dark" href="#">Tên bài viết: </div> <a class="mb-1 text-muted">post</a>
                            <div class="text-dark" href="#">Tác giả: </div> <a class="mb-1 text-muted">user</a>
                        </h3>
                    </div>
                    <a href="#">
                        <h3 class="mb-0">
                            <a class="btn btn-outline-primary px-4" href="#">Xóa bài viết</a>
                        </h3>
                    </a>
                </div>
            </div>

            <div>
                <div class="card flex-md-row mb-4 shadow-sm h-md-200" width="800" height="550">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <div class="text-dark" href="#">Tên bài viết: </div> <a class="mb-1 text-muted">post</a>
                            <div class="text-dark" href="#">Tác giả: </div> <a class="mb-1 text-muted">user</a>
                        </h3>
                    </div>
                    <a href="#">
                        <h3 class="mb-0">
                            <a class="btn btn-outline-primary px-4" href="#">Xóa bài viết</a>
                        </h3>
                    </a>
                </div>
            </div>

            <div>
                <div class="col-1">
                    <a href="#">
                        <h3>
                            <a class="btn btn-outline-primary sharp" href="#"> Trang trước </a>
                        </h3>
                        <h3>
                            <a class="btn btn-outline-primary sharp" href="#"> Trang sau </a>
                        </h3>
                    </a>
                </div>
                <div class="col-2">
                    <a href="#">

                    </a>
                </div>
            </div>
        </main>
    </div>

</div>



<footer class="blog-footer">
    <p>Phát triển bởi KTEAM HCMUS</p>
    <p><a href="#">Back to top</a></p>
</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/holderjs/holder.min.js"></script>
    <script src="http://imsky.github.com/holder/holder.js"></script>
</body>

</html>