


<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/logo.ico">

    <title>ERROR</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="/stylesheets/index.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <meta name="google-site-verification" content="2hK8OAg4_EJ1e60F9ibqjmNTLJUhPRC4JVokOTb5cGk" />
</head>

<body>

<div class="container ">
    <!--Header-->
    <header class="blog-header py-1 bg-white">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-sm pt-1">
                <a class="text-muted" href="/">
                    <img src="/images/logo_medium.png"/>
                </a>
            </div>


        </div>



    </header>

    <!--Cover-->
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <%= message %>
        </div>
    </div>




</div>
</body>
<footer class="blog-footer">
    <p>Phát triển bởi KTEAM HCMUS</p>
    <p><a href="#">Back to top</a></p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../node_modules/holderjs/holder.min.js"></script>
<script src="http://imsky.github.com/holder/holder.js"></script>
</body>
</html>


