<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/logo.ico">

  <title>KTUS</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>

<div class="container ">
  <!--Header-->
  <header class="blog-header py-3 bg-white">

    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-sm pt-1">
        <a class="text-muted" href="#">
          <img src="images/logo_medium.png"/>
        </a>
      </div>
      <div class="col-5 input-group">
        <input type="search" class="form-control" aria-label="">
        <div class="input-group-append">
          <span class="input-group-text"><a class="text-muted" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></a></span>
        </div>
      </div>

      <div class="col-3  d-flex justify-content-end align-items-center ">
        <a class="btn btn-outline-primary" href="#" ><span style="font-family:'Segoe UI'">Viết bài</span></a>
        <a class="btn btn-link btn-sm" href="/signin"><span
                  style="font-family:'Segoe UI'">Đăng nhập</span></a>
        <a class="btn btn-link btn-sm" href="#"><span style="font-family:'Segoe UI'">Đăng ký</span></a>

      </div>
    </div>

    <div class="sticky-top nav-scroller py-1 mb-2 ">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">KỸ NĂNG</a>
        <a class="p-2 text-muted" href="#">KHOA HỌC - CÔNG NGHỆ</a>
        <a class="p-2 text-muted" href="#">TRUYỀN CẢM HỨNG</a>
        <a class="p-2 text-muted" href="#">PHIM ẢNH</a>
        <a class="p-2 text-muted" href="#">ÂM NHẠC</a>
        <a class="p-2 text-muted" href="#">VĂN HÓA</a>
        <a class="p-2 text-muted" href="#">CHÍNH TRỊ</a>
        <a class="p-2 text-muted" href="#">QUAN ĐIỂM - TRANH LUẬN</a>
        <a class="p-2 text-muted" href="#">DU LỊCH</a>
      </nav>
    </div>

  </header>

  <main role="main" class="container">
    <div class="row">
      <aside class="fixed-bottom col-md-1 blog-sidebar">
        <div class="p-3 mb-3 rounded">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
          </button>
          </p>
        </div>
      </aside>
      <div class="col-md-10 blog-main">
        <br>
        <div class="blog-post">
          <h2 class="blog-post-title">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
          <hr>
          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
          <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </blockquote>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <h2>Heading</h2>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <h3>Sub-heading</h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <pre><code>Example code block</code></pre>
          <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <h3>Sub-heading</h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
          </ol>
          <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
        </div><!-- /.blog-post -->


        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>

      </div><!-- /.blog-main -->


      </div>
  </main><!-- /.container -->
</div>
</body>
</html>