body {
  /*padding: 50px;*/
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.edit-post {
  font-family: 'Noto Serif';
}

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.sharp {
  border-radius: 24px;
}
